@import url('../fonts/Lato/Lato-Regular.ttf');
@import url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
@import url('../fonts/Roboto/Roboto-Regular.ttf');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.container{
    width: 980px;
    margin: auto;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* SECCION DEL HEADER */
header{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('../img/header-fondo-02.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.usuario{
    float: left;
    width: 15%;
    box-sizing: border-box;
    background-color: rgba(26, 211, 224, 0.644);
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
}

.usuario i{
    padding-right: 5px;
}

.usuario > a{
    text-decoration: none;
    font-size: 18px;
    padding: 0px 5px 0px 5px;
    color: white;
}

.menu_opciones{
    width: 85%;
    float: right;
    box-sizing: border-box;
    text-align: right;
    background-color: rgba(26, 211, 224, 0.644);
    padding-top: 20px;
    padding-right: 10px;
    height: 60px;
}

.menu_opciones > a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: white;
    font-weight: 500;
}

.menu_opciones > a:hover,
.usuario > a:hover{
    transition: background-color 0.3s, padding 0.3s;
    background-color: rgb(21, 167, 175);
    padding: 15px;
}

.inicio-titulo > h1{
  
    word-spacing: 4px;
    letter-spacing: 1px;
    color: rgba(245, 245, 245, 0.726);
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

.inicio-titulo{
    position: absolute;
    top: 40%;
    right: 20%;
}

.btn-header{
    border: 1px solid rgb(21, 167, 175);
    color: rgb(21, 167, 175);
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
}

.btn-header:hover, .comprar > button:hover{
    background-color: rgb(21, 167, 175);
    color: white;
    
    transition: background-color 1s, color 1s, border 1s;     
}

/* COMO FUNCIONA SECCION */

.como-funciona{
    margin: auto;
    padding-top: 30px;
    height: 300px;
}

h2{
    text-align: center;
    color: #555555;
}

h2::after{
    display: block;
    height: 2px;
    background-color: rgb(21, 167, 175);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
}

.col-md-4{
    padding-top: 20px;
    float: left;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    margin-right: 3.3%;
}

.big-icon{
    font-size: 35px;
    color: rgb(21, 167, 175);
}

.parrafo{
    text-align: center;
    color: #555555;
    font-size: 18px;    
    padding-top: 15px;
    line-height: 25px;
}

/* SECCION PRINCIPIOS */

.titulo-cont{
    padding-bottom: 10px;
}

.seccion-principios{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 900px;
}

.historia{
    padding-top: 20px;
    padding-bottom: 20px;
}

.franquicia{
    padding-top: 30px;
    clear: both;
}

hr{
    height: 4px;
    background-color: rgb(21, 167, 175);
    margin: 0 auto;
    margin-top: 5px;
    width: 80%;
    margin-bottom: 20px;
}

iframe{
    float: left;    
    width: 50%;
    box-sizing: border-box;
    border-radius: 15px;
}

iframe:last-of-type{
    float: right;    
    width: 50%;
    box-sizing: border-box;
    border-radius: 15px;
}

.contenido{
    float: right;    
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.center-parrafo{
    margin: 0px 25px 0px 25px;
}

/* FOOTER */

footer{
    background-color: rgba(22, 168, 175, 0.774);
    height: 173x;
    margin-top: 20px;
    clear: both;
    color: whitesmoke;
}

.redes_sociales{
    float: left;
    width: 50%;
    box-sizing: border-box;   
}

.contact{
    float: right;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.contact > h3{
    text-align: right;
}

.copyright{
    clear: both;
}

footer h3{
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 27px;
    padding-bottom: 15px;
}

footer i{
    color: whitesmoke;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 10px;
}

footer i:hover{
    color: rgb(21, 167, 175);    
    transition: color 1s;
    cursor: pointer;
}

.face{
    padding-right: 22px;
    margin-left: 5px;    
}

footer p{
    font-weight: bold;
}

.copyright{
    text-align: right;
    color: white;
    padding-bottom: 10px;
}

/* PLANES */

.plan{
    box-sizing: border-box;
    border: 1px rgb(21, 167, 175) solid;
    height: 400px;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.precio{
    width: 90%;
    height: 100px;
    color: #333;
    margin-top: 10px; 
}


.moneda{
    float: left;
    width: 33.33%;
    text-align: right;
    box-sizing: border-box;
    font-size: 23px;
}
.costo{
    float: left;
    width: 33.33%;
    font-size: 50px;
    box-sizing: border-box;
}
.mes{
    float: left;
    width: 33.33%;
    font-weight: bold;
    padding-left: 10px;    
    text-align: left;
    box-sizing: border-box;
    margin-top: 30px;
}

.caracteristicas-plan{
    height: 100px;
    color: #333;
}

.comprar > button{
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 25px;
    background: rgba(22, 168, 175, 0.774);
    border-radius: 5px;
}

/*SECCION UBICACIÓN*/

.seccion-map{
    padding-top: 100px;
    padding-bottom: 100px;
    height: 500px;
}

#mapa{
    width: 100%;
    height: 300px;
}

/* ENVIAR COMENTARIO */

.com{
    padding: 10px 0;
}

.comment{
    height: 480px;
    clear: both;
}

.comentario{
    padding: 30px 10px;
    width: 30%;
    margin: auto;
    box-sizing: border-box;
    
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.comentario input[type="text"]{
    margin: 5px 0px;
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #e6ecf0;
    font-weight: bold;
    
    
}

.comentario  label{
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.comentario input::-webkit-input-placeholder{
    font-size: 18px;
    color: #555;
    font-weight: bold;
    
}

.comentario textarea{
    resize: none;
    width: 100%;
    color: #555;
    font-weight: bold;
    border: 1px solid #e6ecf0;
}

.titulo-h2{
    padding: 30px 0px;
}

.comentario input[type="submit"]{
    width: 100%;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 9px;
    border: none;
    font-size: 20px;
    color : white;      
    background-color: rgba(22, 168, 175, 0.774);
}

/* INICIO SESION */

.sizesession{
    height: 480px;
}

.singup{
    clear: both;
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    height: 330px;
    width: 30%;
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;    
}

.singup label{
    font-weight: bold;
    color: #555;
    display: inline-block;
    padding: 7px 0;    
    text-transform: uppercase;    
}

.singup input[type="submit"]{
    width: 100%;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 9px;
    border: none;
    font-size: 20px;
    color : white;      
    background-color: rgba(22, 168, 175, 0.774);
}

/* ERRORES */


.esErrorWord{
    color: #ff3860;
    padding: 10px 0;
    font-size: 14px;
}

.input{
    background-color: #fff;
    border-radius: 3px;
    color: #363636;
    font-size: 14px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    width: 100%;
    border: 1px solid #dbdbdb;
}


.esError{
    border-color: #ff3860;
}

.is-active{
    border-color: #00d1b2;
    outline: none;
}

.input.is-active, .input:active, .input:focus, .textarea.is-active, .textarea:active, .textarea:focus {
    border-color: #00d1b2;
    outline: none;
}